fastapi==0.95.2
uvicorn[standard]==0.22.0
pydantic==1.10.9
torch==2.2.2
diffusers[torch]    
 # You will have to run python -m pip install --upgrade huggingface_hub to get it's latest version = 0.32.4
transformers==4.33.1 
scipy==1.11.2
ftfy==6.1.1
Pillow==10.0.0
accelerate==0.21.0
safetensors==0.3.3
